<div class="row">
    <button (click)="myModal.open()">Add Todo</button>
    <modal #myModal>
        <modal-header>
            <h1>Modal header</h1>
        </modal-header>
        <modal-content>
               <input class="new-todo" placeholder="What needs to be done?" autofocus="" (keyup.enter)="addTodo();myModal.close()" [(ngModel)]="newTodo.title">

        </modal-content>
        <modal-footer>
            <button class="btn btn-primary" (click)="addTodo();myModal.close()">Add Task</button>
                        <!--<button class="btn btn-primary" (click)="getAllTodos();myModal.close()">Add List</button>-->

                        <button class="btn btn-primary" (click)="myModal.close()">Exit</button>

        </modal-footer>
    </modal>
</div>

<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)">Complete</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>